---
http_interactions:
- request:
    method: get
    uri: https://dev.tescolabs.com/grocery/products?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - TESCO_API_KEY
  response:
    status:
      code: 404
      message: Resource Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "statusCode": 404, "message": "Resource not found" }'
  recorded_at: Sat, 20 Aug 2016 14:32:54 GMT
- request:
    method: get
    uri: https://dev.tescolabs.com/grocery/products?limit=5&offset=0&query=bananas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - TESCO_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Dc:
      - az1
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |-
        {
          "uk" : {
            "ghs" : {
              "products" : {
                "totals" : {
                  "all" : 174,
                  "new" : 2,
                  "offer" : 58
                },
                "results" : [ {
                  "image" : "http://img.tesco.com/Groceries/pi/000/0261480000000/IDShot_90x90.jpg",
                  "tpnb" : 50502269,
                  "PromotionDescription" : "25 extra points on any bananas",
                  "ContentsMeasureType" : "KG",
                  "name" : "Tesco Bananas Loose",
                  "UnitOfSale" : 3,
                  "AverageSellingUnitWeight" : 2.402,
                  "UnitQuantity" : "KG",
                  "ContentsQuantity" : 1.0,
                  "price" : 0.68,
                  "unitprice" : 0.68
                }, {
                  "image" : "http://img.tesco.com/Groceries/pi/875/0000010001875/IDShot_90x90.jpg",
                  "tpnb" : 65728590,
                  "ContentsMeasureType" : "SNGL",
                  "PromotionDescription" : "25 extra points on any bananas",
                  "name" : "Tesco Ripe Bananas 5 Pack",
                  "UnitOfSale" : 1,
                  "description" : [ "Eat Me Bananas" ],
                  "AverageSellingUnitWeight" : 0.847,
                  "UnitQuantity" : "EACH",
                  "ContentsQuantity" : 5.0,
                  "price" : 0.8,
                  "unitprice" : 0.16
                }, {
                  "image" : "http://img.tesco.com/Groceries/pi/416/0000003251416/IDShot_90x90.jpg",
                  "tpnb" : 77427870,
                  "PromotionDescription" : "25 extra points on any bananas",
                  "ContentsMeas[...]
