---
http_interactions:
- request:
    method: get
    uri: https://dev.tescolabs.com/grocery/products?limit=2&offset=1&query=bananas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - TESCO_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Dc:
      - az1
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |-
        {
          "uk" : {
            "ghs" : {
              "products" : {
                "totals" : {
                  "all" : 174,
                  "new" : 2,
                  "offer" : 58
                },
                "results" : [ {
                  "image" : "http://img.tesco.com/Groceries/pi/875/0000010001875/IDShot_90x90.jpg",
                  "tpnb" : 65728590,
                  "ContentsMeasureType" : "SNGL",
                  "PromotionDescription" : "25 extra points on any bananas",
                  "name" : "Tesco Ripe Bananas 5 Pack",
                  "UnitOfSale" : 1,
                  "description" : [ "Eat Me Bananas" ],
                  "AverageSellingUnitWeight" : 0.847,
                  "UnitQuantity" : "EACH",
                  "ContentsQuantity" : 5.0,
                  "price" : 0.8,
                  "unitprice" : 0.16
                }, {
                  "image" : "http://img.tesco.com/Groceries/pi/416/0000003251416/IDShot_90x90.jpg",
                  "tpnb" : 77427870,
                  "PromotionDescription" : "25 extra points on any bananas",
                  "ContentsMeasureType" : "SNGL",
                  "name" : "Tesco Small Bananas 6 Pack",
                  "UnitOfSale" : 1,
                  "AverageSellingUnitWeight" : 0.965,
                  "description" : [ "Small Bananas" ],
                  "UnitQuantity" : "EACH",
                  "ContentsQuantity" : 6.0,
                  "price" : 0.9,
                  "unitprice" : 0.15
                } ],
                "suggestions" : [ {
                  "text" : "banana",
                  "score" : 0.8333333,
                  "freq" : 262
                } ]
              }
            }
          }
        }
  recorded_at: Sat, 20 Aug 2016 15:31:19 GMT
[...]
