---
http_interactions:
- request:
    method: get
    uri: https://dev.tescolabs.com/grocery/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - TESCO_API_KEY
  response:
    status:
      code: 404
      message: Resource Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "statusCode": 404, "message": "Resource not found" }'
  recorded_at: Sat, 20 Aug 2016 14:32:59 GMT
[...]
- request:
    method: get
    uri: https://dev.tescolabs.com/grocery/products?query=bananas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - TESCO_API_KEY
  response:
    status:
      code: 404
      message: Resource Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "statusCode": 404, "message": "Resource not found" }'
  recorded_at: Sat, 20 Aug 2016 14:42:11 GMT
[...]
- request:
    method: get
    uri: https://dev.tescolabs.com/grocery/products?limit=1&offset=0&query=bananas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - TESCO_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Dc:
      - az1
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |-
        {
          "uk" : {
            "ghs" : {
              "products" : {
                "totals" : {
                  "all" : 174,
                  "new" : 2,
                  "offer" : 58
                },
                "results" : [ {
                  "image" : "http://img.tesco.com/Groceries/pi/000/0261480000000/IDShot_90x90.jpg",
                  "tpnb" : 50502269,
                  "PromotionDescription" : "25 extra points on any bananas",
                  "ContentsMeasureType" : "KG",
                  "name" : "Tesco Bananas Loose",
                  "UnitOfSale" : 3,
                  "AverageSellingUnitWeight" : 2.402,
                  "UnitQuantity" : "KG",
                  "ContentsQuantity" : 1.0,
                  "price" : 0.68,
                  "unitprice" : 0.68
                } ],
                "suggestions" : [ {
                  "text" : "banana",
                  "score" : 0.8333333,
                  "freq" : 262
                } ]
              }
            }
          }
        }
  recorded_at: Sat, 20 Aug 2016 15:17:59 GMT
recorded_with: VCR 3.0.3
