---
http_interactions:
- request:
    method: get
    uri: https://dev.tescolabs.com/locations/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - TESCO_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dc1:
      - AWS1
      Traceid:
      - 1a5008bd-9e49-495e-a2c8-12aa5d372d53
      X-Interfaceversion:
      - v3
      X-Response-Time:
      - 4ms
    body:
      encoding: UTF-8
      string: '{"results":[{"location":{"id":"8d72afa9-3f2e-4b23-9c6a-9f0d842833ab","name":"Tesco
        Aylesford CFC","altIds":{"branchNumber":5998},"region":{"isoCountryCode":"GB"},"contact":{"address":{"lines":[{"lineNumber":2,"text":"Priory
        Park"},{"lineNumber":1,"text":"Mills Road"}],"town":"Aylesford","postcode":"ME20
        7PP"}},"geo":{"coordinates":{"longitude":0.46399,"latitude":51.289805}},"classification":{"category":"CFC"},"status":{"currentStatus":"Trading"},"facilities":[{"name":"DBT"}]}},{"location":{"id":"8d72afa9-3f2e-4b23-9c6a-9f0d842833a9","name":"Dobbies
        Garden Centre","altIds":{"branchNumber":101},"region":{"isoCountryCode":"GB"},"contact":{"address":{"lines":[{"lineNumber":2,"text":"Whitemyres,
        Lang Stracht"},{"lineNumber":1,"text":"New Park Farm"}],"town":"Aberdeen","postcode":"AB15
        6AX"},"phoneNumbers":[{"alias":"Default","number":"0122 468 6000"}]},"geo":{"coordinates":{"longitude":-2.17827,"latitude":57.15158}},"classification":{"type":"Dobbies","category":"Store"},"status":{"currentStatus":"Trading"},"openingHours":[{"type":"Trading","standardOpeningHours":{"mo":{"isOpen":"true","open":"0600","close":"2400"},"tu":{"isOpen":"true","open":"0600","close":"2400"},"we":{"isOpen":"true","open":"0600","close":"2400"},"th":{"isOpen":"true","open":"0600","close":"2400"},"fr":{"isOpen":"true","open":"0600","close":"2400"},"sa":{"isOpen":"true","open":"0600","close":"2400"},"su":{"isOpen":"true","open":"0900","close":"1800"}}}],"facilities":[{"name":"ASSISTANCE_DOGS","tags":["enabling"]}]}},{"location":{"id":"1710c43c-197e-4416-9478-cf5d0107440a","name":"Dobbies
        Garden Centre","altIds":{"branchNumber":102},"region":{"isoCountryCode":"GB"},"contact":{"address":{"lines":[{"lineNumber":2,"text":"Eureka
        Leisure Park"},{"lineNumber":1,"text":"Rutherford Rd"}],"town":"Ashford","postcode":"TN25
        4BN"},"phoneNumbers":[{"alias":"Default","number":"0123 361 9360"}]},"geo":{"coordinates":{"longitude":0.87163,"latitude":51.16141}},"classification":{"type[...]
[...]
