---
http_interactions:
- request:
    method: get
    uri: https://dev.tescolabs.com/locations/search?sort=near:%22SW5%204YY%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - TESCO_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dc1:
      - AWS1
      Traceid:
      - 5100a8be-39b2-45fd-82e9-ec4c2ccb9285
      X-Interfaceversion:
      - v3
      X-Response-Time:
      - 101ms
    body:
      encoding: UTF-8
      string: '{"results":[{"location":{"id":"266d8309-a40b-4ffd-920b-c418c50ae1c4","name":"South
        Kensington Express","altIds":{"branchNumber":2745},"region":{"isoCountryCode":"GB"},"contact":{"address":{"lines":[{"lineNumber":1,"text":"87-93
        Gloucester Rd"},{"lineNumber":2,"text":"South Kensington"}],"town":"London","postcode":"SW7
        4SS"},"phoneNumbers":[{"alias":"Default","number":"0345 026 9300"}]},"geo":{"coordinates":{"longitude":-0.18225,"latitude":51.49431}},"classification":{"type":"Express","category":"Store"},"status":{"currentStatus":"Trading"},"openingHours":[{"type":"Trading","standardOpeningHours":{"mo":{"isOpen":"true"},"tu":{"isOpen":"true"},"we":{"isOpen":"true"},"th":{"isOpen":"true"},"fr":{"isOpen":"true"},"sa":{"isOpen":"true"},"su":{"isOpen":"true"}},"exceptions":[{"date":"2016-03-27","hours":{"isOpen":"true"}},{"date":"2016-08-29","hours":{"isOpen":"true"}},{"date":"2016-03-28","hours":{"isOpen":"true"}},{"date":"2015-12-31","hours":{"isOpen":"true","close":"2200"}},{"date":"2016-01-02","hours":{"isOpen":"true","open":"0000"}},{"date":"2016-05-31","hours":{"isOpen":"true"}},{"date":"2016-05-02","hours":{"isOpen":"true"}},{"date":"2016-03-25","hours":{"isOpen":"true"}},{"date":"2016-01-01","hours":{"isOpen":"true","open":"0800","close":"2200"}}]}],"facilities":[{"name":"ACCESSIBLE_TOILETS","tags":["enabling"]},{"name":"KRISPY_KREME"},{"name":"MOBILITY_IMPAIRMENT","tags":["enabling"]},{"name":"24_HOURS"},{"name":"WHEELCHAIR_ACCESS","tags":["enabling"]},{"name":"ACCESSIBLE_CAR_PARKING","tags":["enabling"]},{"name":"ASSISTANCE_DOGS","tags":["enabling"]},{"name":"DIRECT_CLICK_AND_COLLECT","openingHours":[{"type":"Default","standardOpeningHours":{"mo":{"isOpen":"true"},"tu":{"isOpen":"true"},"we":{"isOpen":"true"},"th":{"isOpen":"true"},"fr":{"isOpen":"true"},"sa":{"isOpen":"true"},"su":{"isOpen":"true"}}}]},{"name":"PAYQWIQ"},{"name":"VISUALLY_IMPAIRED","tags":["enabling"]},{"name":"ATM"}]},"distanceFrom":{"unit":"miles","value":0.4}},{"location":{"id":"ad2e8f7d-5f17-42f8-916b-295719c7de8e","name":"248
        Fulham Rd Express","altIds":{"branchNumber":2752},"region":{"isoCountryCode":"GB"},"contact":{"address":{"lines":[{"lineNumber":1,"text":"248
        Fulham Rd"}],"town":"London","postcode":"SW10 9NA"},"phoneNumbers":[{"alias":"Default","number":"0345
        026 9301"}]},"geo":{"coordinates":{"longitude":-0.1832,"latitude":51.48489}},"classification":{"type":"Express","category":"Store"},"status":{"currentStatus"[...]
- request:
    method: get
    uri: https://dev.tescolabs.com/locations/search?filter=isoCountryCode:GB%20AND%20category:Store%20AND%20facilities:DBT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - TESCO_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dc1:
      - AWS1
      Traceid:
      - 2b8ef93a-20ab-4969-ace0-4d6cf1e257ec
      X-Interfa[...]
- request:
    method: get
    uri: https://dev.tescolabs.com/locations/search?like=like=name:%5EUnlikelyName
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - TESCO_API_KEY
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Dc1:
      - AWS1
      Traceid:
      - 43751bd8-2b20-46e1-a049-78caaa7555f1
      X-Interfaceversion:
      - v3
      X-Response-Time:
      - 19ms
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "msg" : "Invalid Query Parameter"
        }
  recorded_at: Sat, 20 Aug 2016 10:36:33 GMT
- request:
    method: get
    uri: https://dev.tescolabs.com/locations/search?limit=30&sort=near:%22SW5%204YY%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - TESCO_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dc1:
      - AWS1
      Traceid:
      - 5d26f968-a842-4f48-9a5b-10ef1a749a90
      X-Interfaceversion:
      - v3
      X-Respon[...]
